.passion-container{
    width: 100%;
    max-width: 100%; /* Full width by default */
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    box-sizing: border-box;
    overflow :hidden;
    position: relative;
       overflow: hidden;
}
.passion-text{
    text-align: center;
    padding-top: 10px;
    text-transform: uppercase;
    color: #fff;
    font-size: 2.5rem;
    font-weight: 300;
    
}
.passion-image .passion-img{
    display: grid;
    /* grid-template-columns:repeat(3,400px); */
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 20px;
   
    
    
    

}

.passion-front-end {
    margin: 3rem;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 3rem;
    position: relative;
    /* z-index: 1; */
    background-color: black;
    overflow: hidden;
    border: 2px solid #31b1cb;

}





.passion-front-end .image-dev{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
   
}
.passion-front-end img{
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 20px;

}
.passion-front-end h2{
    color: #fff;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 400;
    width: 150px;
}
.passion-front-end p{
    color: #fff;
    padding:14px;
    font-size: 15px;
    margin: 0 10px 0 10px;
    font-weight: 400;
    margin-bottom: 20px;
    
}
@media screen  and (max-width:680px){
    
    
    .passion-container{
       
        padding-left: 10px; 
         padding-right: 10px;
        
    }
    .passion-text{
      
        padding: 25px;
       font-weight: 0px;
        font-size: 2rem;
       
        
    }
    .passion-image .passion-img{
     
        gap: 0px;
       
        
        
        
    
    }
.passion-front-end img{
    width: 70px;

}
.passion-front-end h2{
   
    font-size: 24px;

}
.passion-front-end p{
    color: #fff;
    padding:14px;
    font-size: 20px;
    margin: 0 10px 0 10px;
    font-weight: 400;
    margin-bottom: 20px;
    
}

}