.contact-container {
  /* background-color: #31b1cb;*/
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(49,177,203,1) 0%, rgba(15,15,119,1) 92%); 
  width: 100%;

  margin: auto;
  overflow: hidden;
  border-top-right-radius:50px ;
  border-top-left-radius: 50px;

}

 
.contact-text  {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 600;
  color: white;
  line-height: 3;
}
.contact-details{
    display: flex;
    gap: 20px;
    margin:0 60px;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.contact-details-one{
  
    width: 600px;
}
.contact-details-text h3{
    color:white;
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 600;
    padding:10px;


}
.contact-details-text p{
    color: white;
    width: 500px;
    padding: 10px;
}
.contact-details-one ul li{
list-style-type: none;
padding: 10px;
color: white;

}
.contact-details-one ul li span{
    background-color: #01082D;
    display: inline-block;
    padding: 6px 10px;
    font-size: 15px;
    color: white;
    text-align: center;
    border-radius: 10px;
    margin-right: 10px;
 
  
}
.contact-details-two{
    width: 400px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%,rgba(15,15,119,1)0%, rgba(49,177,203,1) 90%);
    border-radius: 20px;
}
.contact-details-two .form-group input,.form-group textarea{
    background-color: #000;
    width: 80%;
    padding: 16px;
    margin: 15px 40px;
    outline: none;
    border: none;
    border-radius: 10px;
}
.contact-details-two button{
    background-color: #000;
    width: 150px;
    padding: 10px 16px;
    outline: none;
    border: none;
    color: white;
    margin: 10px 40px;
    border-radius: 5px;
}



@media screen and (max-width: 680px) {

  .contact-details{
   
    margin:0 15px;
   
    
}
.contact-text  {
  
  font-size: 2rem;
 
}
.contact-details-text p{

  width: 350px;
  padding: 10px;
}
}
