.container-experience{
    width: 100%;
    max-width: 100%; /* Full width by default */
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem; /* Add padding for better spacing */
    padding-right: 2rem;
    box-sizing: border-box;
    overflow :hidden;
    position: relative;
     
}
.container-experience h2{
    text-transform: uppercase;
    text-align: center;
    padding-top: 3rem;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 30px;
    color:white;
}
.tech-main{
   /* display: flex;
   justify-content: center;
   align-items: center; */
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   font-size: 14px;
   display: flex; /* Use flex for larger screens */
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}
.tech-main img {
    width: 100px; /* Set image size */
    margin-bottom: 1rem; /* Space below images */
}

@media screen  and (max-width:680px){

 .container-experience{
    
   padding-bottom: 50px;
}
.tech-main{
    display: grid;
    grid-template-columns:1fr;
    gap: 10%;

}
.techExp .tech,.company-logo .company-text{
   
    text-align: center;
}
.tech-main img{
    width: 100px;
}


}