.container-experience{
    width: 100%;
    max-width: 100%; /* Full width by default */
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem; /* Add padding for better spacing */
    padding-right: 2rem;
    box-sizing: border-box;
    overflow :hidden;
    position: relative;
     
}
.container-experience h2{
    text-transform: uppercase;
    text-align: center;
    padding-top: 3rem;
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 30px;
    color:white;
}
.tech-main{
  
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   font-size: 14px;
   display: flex; 
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}
.tech-main img {
    width: 100px; /* Set image size */
    margin-bottom: 1rem; /* Space below images */
}

@media screen  and (max-width:680px){


    .tech-main{
  
       padding: 2rem;
     
     }
     .tech-main img {
        width: 100px;
        margin-bottom: 2rem; 
    }


}